MITMWEB_MODE="{{ mitmproxy_mitmweb_mode }}"
MITMWEB_WEB_PORT="{{ mitmproxy_mitmweb_web_port }}"
MITMWEB_WEB_IFACE="{{ mitmproxy_mitmweb_web_iface }}"
MITMWEB_PROXY_PORT="{{ mitmproxy_mitmweb_listen_port }}"
MITMWEB_PROXY_HOST="{{ mitmproxy_mitmweb_listen_host }}"
MITMWEB_PROXY_AUTH="{{ mitmproxy_mitmweb_proxy_auth }}"
MITMWEB_ADDITIONAL_ARGS="{{ mitmproxy_mitmweb_additional_args | join(' ') }}"
